.avatar {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  .status {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0em;
    border-radius: 50%;
    &.active {
      background-color: green;
    }
  }
}
