body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.dimmer{
  /* background-color: #35ace0 */
}

/* Message style */
.messages {
  height: 440px;
  overflow-y: scroll;
  max-width: none !important;
}

/* Self Message */
.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}
